.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 40vw;
    margin: auto;
}